@charset "utf-8";
/* CSS Document */

/* ==================================================
  colores
  ================================================== */
:root{
	--white: #fff;
	--black: #000;
	--blue: #0e4983;
    --blueOne: #215968;
    --blueTwo: #31859c;
    --bluePurple: #aaabd7;
	--ligthblue: #0070c0;
	--aqua: #41b7c4;
    --orange: #e46c0a;
}

/* ==================================================
  general
  ================================================== */
html, body{
	overflow-x: hidden;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
*, *:befor, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.edge{
    border: 2px solid var(--black);	
}
.fullWidth{
    width: 100%;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
/*===================== margin =====================*/
.mt{
    margin-top: 80px;
}
.mb50{
    margin-bottom: 50px;
}
/*=================== gradient =====================*/
.bp-w-l-grad {
    padding: 5px;
    background: -moz-linear-gradient(left, #aaabd7, #fff); /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(left, #aaabd7, #fff); /* For Safari 5.1 to 6.0 */
    background: -ms-linear-gradient(left, #aaabd7, #fff);
    background: -o-linear-gradient(left, #aaabd7, #fff); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(left, #aaabd7, #fff); /* Standard syntax (must be last) */
}
.bp-w-r-grad {
    padding: 5px;
    background: -moz-linear-gradient(right, #aaabd7, #fff); /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(right, #aaabd7, #fff); /* For Safari 5.1 to 6.0 */
    background: -ms-linear-gradient(right, #aaabd7, #fff);
    background: -o-linear-gradient(right, #aaabd7, #fff); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(right, #aaabd7, #fff); /* Standard syntax (must be last) */
}
/*===================== images =====================*/
.imgSmall {
    width: 200px;
    height: 200px;
}

/* ==================================================
  navbar
  ================================================== */
.navbar-default{
	background-color: var(--white);
	border: 0px;
}
.navbar-default .navbar-toggle{
	padding: 10px;
	margin: 25px 15px 25px 0;
}
.navbar-default .navbar-brand{
	height: 80px;
	padding: 0px;
}
.navbar-default .navbar-brand img{
	height: inherit;
}
.navbar-default .nav >li >a{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 15px;
	text-transform: uppercase;
	color: var(--ligthblue);
}
.navbar-default .nav >li >a:hover,
.navbar-default .nav >li >a:focus{
	color: var(--aqua);
}
.padding-nav{
	padding: 0 200px 0;
}

/*===========================
	parallax
===========================*/
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .firstParallax{
        height: 800px; 
        background-color: var(--blue);
        background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url("../images/parallax_1.jpg");
        overflow-y: hidden;
    }
        .firstParallaxDiv{
            padding: 100px;
            background-color: rgba(14, 73, 131, 0.7);
            width:50%;
            height: inherit;
            position:absolute;
            color:#fff;
            z-index:5;
        }
    .secondParallax {
        height: 800px; 
		background-color: var(--blue);
        background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url("../images/parallax_2.jpeg");
		overflow-y: hidden;
	}       
    .whiteDivParallax{
        padding: 50px 100px;
		height: auto; 
        background-color: var(--white);
	}
        .whiteDivParallax h2{
            margin-bottom: 50px;
            text-align: center; 
            text-transform: uppercase; 
            color:#0e4983; 
        }
    .blueDivParallax{
        padding: 50px 100px;
        height: auto;
		background-color: var(--blue);
		color: #fff;
	}
        .blueDivParallax h2{
            margin-bottom: 50px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }
        .blueDivParallax h4{
            color: #fff;
        }
            
/* ==================================================
 Flex-Boxes
 ================================================== */
.flexBox {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.flexWrap{
   -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}
.verticalCenter {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.horizintalCenter{
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;    
}

/*.flexWrap {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.center {
  text-align: center;
}

.verticalCenter {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-container {
    display: -moz-flex !important;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
}

.flexStart {
  -moz-align-self: flex-start;
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
}

.flexEnd {
  -moz-align-self: flex-end;
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.flexCenter {
  -moz-align-self: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
}

.flex-item {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  margin: 10px;
}

/* ==================================================
 Grid
 ================================================== */
.col{
    padding: 20px;
}

/* ==================================================
 panel
 ================================================== */
.panel-default, .panel-default .panel-heading, .panel-default panel-body {  
    border-radius: 0;
}

/* ==================================================
 form
 ================================================== */
.form-control{
    border: 2px solid var(--blue);
    border-radius: 0px;
}

/* ==================================================
  buttons
  ================================================== */
.btn {
    margin: 5px;
    border-radius: 0px;
    padding: 10px 30px;
    font-size: 13px !important;
}

.btn-default {
  background-color: var(--blue);
  font-weight: bold;
  color: #fff;
}

.btn-default:hover, .btn-default:focus {
    border: 1px solid var(--ligthblue);
    background-color: var(--ligthblue);
    color: #fff;
}

/* ==================================================
 optionThree
 ================================================== */
#optionThree .panel-default .panel-heading {
    font-weight: bold;
    text-align: center;
    color: var(--white);
}
#optionThree .panel-default .panel-body h5 {
    text-align: center;
    font-weight: bold;
}
#optionThree #rowOne .panel-default {
     border-color: var(--blueOne);
}
    #optionThree #rowOne .panel-default .panel-heading {
        background-color: var(--blueOne);
    }
    #optionThree #rowOne .panel-default .panel-body h5 {
        color: var(--blueOne);
    }
#optionThree #rowTwo .panel-default {
     border-color: var(--ligthblue);
}
    #optionThree #rowTwo .panel-default .panel-heading {
        background-color: var(--ligthblue);
    }
    #optionThree #rowTwo .panel-default .panel-body h5 {
        color: var(--ligthblue);
    }
#optionThree #rowThree .panel-default {
     border-color: var(--blueTwo);
}
    #optionThree #rowThree .panel-default .panel-heading {
        background-color: var(--blueTwo);
    }
    #optionThree #rowThree .panel-default .panel-body h5 {
        color: var(--blueTwo);
    }

/* ==================================================
 optionFive
 ================================================== */
#optionFive span{
    font-size: 30px;
    color: var(--ligthblue);
}
#optionFive p{
    font-size: 20px;
}

/* ==================================================
  responsive
  ================================================== */
@media (max-width:1110px) {
	
}
@media (max-width: 1150px) {
    .firstParallaxDiv{
        width:100%;
    }
	.padding-nav{
		padding: 0 150px 0;
	}
}
@media (max-width: 1050px) {
	.padding-nav{
		padding: 0 100px 0;
	}
}
@media (max-width: 950px) {
	.padding-nav{
		padding: 0 50px 0;
	}
}
@media (max-width: 850px) {
	.padding-nav{
		padding: 0;
	}
}
